<form action="/create" method="POST">
    <h2>Same</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label></label>
        {{!-- <label></label> tofix --}}
        
    </div>

    <button type="submit" class="btn">Add</button>

</form>
