.stem {
    margin-bottom: 1rem;
}

.stem span.completed {
    text-decoration: line-through;
} 

.stem label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

.stem i {
    z-index: 2;
}

input:focus {
  border-bottom: 1px solid dodgerblue !important;
  box-shadow: 0 1px 0 0 dodgerblue !important;
}

input[type=checkbox] {
    /* visibility: hidden; */
    color: blue;
}

.checkbox > input:checked {
    color: blue;
}
