.stem {
    margin-bottom: 1rem;
}

.stem span.completed {
    text-decoration: line-through;
} 

.stem label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

.stem i {
    z-index: 2;
}